a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  clear: both;
}

body {
  line-height: 1;
  color: #555;
}

body::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote ::after,
blockquote ::before {
  content: "";
  content: none;
}

q ::after,
q ::before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Avalon;
  src: url(lib/fonts/avalon.ttf);
}

@font-face {
  font-family: "Avalon Bold";
  src: url(lib/fonts/avalon_bold.ttf);
}

@font-face {
  font-family: "ARS Maquette";
  src: url(lib/fonts/ars-maquette-regular.ttf);
}

@font-face {
  font-family: Shentox;
  src: url(lib/fonts/shentox-regular.otf);
}

h1,
h2 {
  font-family: "Avalon Bold", sans-serif;
  font-weight: 700;
}

a,
figcaption,
h3,
h4,
h6,
li,
p {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 3.2rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 1rem 0;
}

.section-title {
  color: #f42;
  cursor: pointer;
}

.section-title:hover {
  color: #000;
}

h5 {
  font-family: Shentox, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.first-link {
  opacity: 1 !important;
}

li {
  display: inline-block;
}

.red-link {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 1 !important;
  padding-right: 1.6rem;
  border-right: 1px solid #f42;
}

.last-red-link {
  border: 0;
  padding-right: 0;
  margin-right: 0;
}

.red-link:hover {
  color: #000;
}

.byline {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}

img[src*=icons] {
  height: 1.6rem;
  width: auto;
}

.left li {
  margin-left: 1.2rem;
}

.right li {
  margin: 0 1.2rem 0 0;
}

.story-list li {
  display: list-item;
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-nav li {
  margin: 0 0.4rem;
}

.nav ul li {
  vertical-align: middle;
}

.left li:first-child {
  margin-left: 2rem;
}

.right {
  float: right;
}

ul {
  list-style: none;
}

.right ul {
  margin-left: 1.2rem;
}

.clear {
  clear: both;
}

.grid {
  position: relative;
  display: grid;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 20px 20px rgba(0, 0, 0, 0.1);
}

.nav-grid {
  grid-gap: 1px;
  grid-template-rows: 32px, 48px;
  grid-template-areas: "nav1""nav2";
}

.nav {
  position: relative;
  display: inline-block;
  width: 100%;
}

.latest-story a {
  display: block;
}

.funder a {
  vertical-align: bottom;
}

.story-list a {
  color: #000;
  opacity: 0.6;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

a:hover {
  color: #000;
}

.story-title a {
  color: #000;
}

.story-byline a {
  color: #aaa;
}

a:hover {
  color: #000;
}

.nav ul li a {
  opacity: 0.5;
}

.story-text a:hover {
  color: rgba(255, 255, 255, 1);
}

.highlighted-story {
  position: relative;
  height: 96px;
  padding-left: 1rem;
  color: #f42;
  background-color: rgba(255, 68, 34, 0.06);
}

.funder a:hover {
  color: #000;
}

.highlighted-story a:hover {
  text-decoration: underline;
}

.story-list a:hover {
  opacity: 1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.story-byline a:hover {
  color: #555;
}

.cover-story-text p a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav ul li a:hover {
  opacity: 1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.nav-inverse {
  color: #000;
  background-color: #fff;
}

#nav-first {
  color: #fff;
  background-color: #000;
  height: 32px;
  line-height: 3rem;
  grid-area: nav1;
}

#nav-first li a {
  font-size: 1.3rem;
}

#nav-second {
  font-family: Shentox, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 4.6rem;
  height: 48px;
  grid-area: nav2;
}

#nav-second li a {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

#nav-collapse {
  display: none;
}

.nav-icon {
  height: 1.6rem;
  width: auto;
  padding: 1.6rem;
  border-left: 1px solid #b9b9b9;
  opacity: 0.6;
  cursor: pointer;
}

.announcement {
  color: #000;
  background-color: #fd3;
  line-height: 3rem;
  padding-left: 2rem;
}

.section-nav li:first-child {
  margin-left: 0;
}

#search li {
  margin: 0;
}

#tnw-logo {
  display: none;
}

@media screen and (max-width: 1024px) {
  #tnw-logo {
    display: inline-block;
    width: 106px;
    height: 80px;
    background: linear-gradient(135deg, #ca1697, #fc452f);
    grid-area: logo;
  }

  #tnw-logo a {
    opacity: 1;
  }

  #tnw-logo img {
    position: relative;
    height: 1.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-grid {
    grid-template-columns: 106px 1fr;
    grid-template-areas: "logo nav1""logo nav2";
  }

  .announcement {
    padding-left: 12.6rem;
  }
}

@media screen and (max-width: 900px) {
  #nav-first .right li:first-child {
    display: none;
  }
}

@media screen and (max-width: 786px) {
  #nav-first,
  #nav-second {
    display: none;
  }

  #tnw-logo {
    height: 48px;
  }

  #nav-collapse {
    display: inline-block;
    height: 48px;
    grid-area: nav3;
  }

  .nav-icon:hover {
    opacity: 1;
  }

  .right li {
    margin: 0;
  }

  .announcement {
    padding-left: 2rem;
  }

  .nav-grid {
    grid-template-columns: 106px 1fr;
    grid-template-areas: "logo nav3";
  }
}

.cover-articles {
  position: relative;
  box-sizing: border-box;
  margin-top: 11rem;
  width: 100vw;
}

.cover-grid {
  padding: 0 1rem;
  height: 54.4rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "cover1 cover2""cover1 cover3";
  grid-gap: 1rem;
}

.cover-story {
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
}

.cover-story-text {
  display: inline-block;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  color: #fff;
}

.cover-story-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#cover1 {
  grid-area: cover1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/12/cryptokitties-hed-796x398.png) no-repeat;
  background-position: center;
  background-size: auto 100%;
}

#cover2 {
  grid-area: cover2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 00.5) 0, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn00.tnwcdn0.com/wp-content/blogs0.dir/1/files/2017/12/roboband-796x4170.jpg);
  background-size: auto 100%;
}

#cover3 {
  grid-area: cover3;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/12/alexa-796x417.jpg);
  background-size: auto 100%;
}

.logo-large {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@media screen and (max-width: 1024px) {
  .logo-large {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .cover-grid {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "cover1""cover2""cover3";
  }
}

.funding-news,
.latest-news,
.latest,
.other-news {
  margin: 0 auto;
  padding: 1rem;
  max-width: 115rem;
}

.grid-4-3-1 {
  grid-gap: 1rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, 1fr);
}

.latest-story img {
  position: relative;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  height: auto;
}

.headline {
  opacity: 1;
}

.headline :hover {
  color: #f42;
  text-decoration: underline;
}

.latest-image-wrapper {
  width: 100%;
  height: 13.5rem;
  overflow: hidden;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .grid-4-3-1 {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 786px) {
  .grid-4-3-1 {
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr;
  }

  .latest-image-wrapper {
    width: 72px;
    height: 72px;
    float: left;
    margin-right: 2rem;
  }

  .latest-story img {
    left: 50%;
    margin-left: -50%;
    height: 100%;
    width: auto;
  }
}

.section-nav {
  margin: 2rem 0 3rem 0;
}

.funding-article {
  background-color: #fffaf8;
  cursor: pointer;
}

.funding-article img {
  clear: both;
  height: 1.6rem;
  width: 1.6rem;
}

.funding-article .funding-icon {
  float: left;
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}

a,
div,
h2,
h4,
header,
li,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.funding-article div,
.funding-article header {
  clear: both;
  padding: 1rem;
}

header,
section {
  display: block;
}

.funding-article header {
  background: linear-gradient(to bottom, #f42 0, #f42 41%, rgba(255, 68, 34, 0.08) 40%, rgba(255, 68, 34, 0.08) 100%);
}

.social-footer div {
  padding: 1rem;
}

.funding-article div:first-of-type {
  border-bottom: 1px solid rgba(255, 68, 34, 0.2);
}

.funding-article div:last-of-type {
  font-size: 1.2rem;
}

h4 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 14px;
}

.funding-article h4 {
  font-size: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.funding-article h4:first-of-type {
  color: #fff;
  margin-bottom: 2rem;
}

.funder {
  font-size: 1.3rem;
  line-height: 2.2rem;
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  text-rendering: optimizeLegibility;
}

.funder * {
  display: inline;
  vertical-align: text-top;
}

.funder img {
  padding-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
  #funding-news-right {
    float: left;
  }
}

.grid-3-2-1 {
  grid-gap: 1rem;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
}

.featured-story {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  cursor: pointer;
}

.story-text {
  color: #fff;
  position: absolute;
  bottom: 1rem;
}

.story-text h3 {
  margin: 0.5rem 0;
  line-height: 2.4rem;
}

.highlighted-story h5,
.story-text h5 {
  font-size: 1.2rem;
  font-weight: 200;
}

.story-text p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}

.highlighted-story h3 {
  font-size: 1.6rem;
  margin-top: 0;
}

.highlighted-image {
  float: right;
  position: relative;
  height: 96px;
  width: 96px;
  margin-left: 1rem;
  overflow: hidden;
}

.highlighted-story img {
  position: relative;
  left: -50%;
  height: 96px;
  width: auto;
}

.highlighted-text {
  padding: 0.5rem 0;
}

.stories-list {
  padding: 1rem;
}

.story-list {
  list-style-type: disc;
  color: red;
}

#featured-app-story {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 00.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/12/Remote-for-Google-Slides-796x398.jpg) no-repeat;
  background-size: auto 100%;
}

#featured-gear-story {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 00.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/12/Samsung-patent-796x474.jpg);
  background-size: auto 100%;
}

#featured-tech-story {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/08/Chrome-OS-796x398.jpg);
  background-size: auto 100%;
}

#featured-creative-story {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/Screen-Shot-2017-11-24-at-15.11.13.png);
  background-size: auto 100%;
}

#featured-contributors-story {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/12/i-dont-like-sand-ft-realism-796x431.png);
  background-size: auto 100%;
}

#featured-insights-story {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/12/dorries-796x497.jpg);
  background-size: auto 100%;
}

@media screen and (max-width: 1024px) {
  .grid-3-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-3-2-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer {
  position: relative;
  top: 100%;
  color: #aaa;
  background-color: #000;
  width: 100vw;
  text-align: center;
}

.social-footer {
  background-color: #131313;
  padding: 4.2rem 0 2.8rem 0;
  cursor: pointer;
}

.icon-nav img {
  box-sizing: content-box;
  background-color: #333;
  padding: 1.6rem;
  border-radius: 50%;
}

.tnw-nav h5 {
  display: inline-block;
  font-weight: 200;
  margin: 0 1rem;
  line-height: 2.4rem;
}

.site-footer {
  padding: 3.9rem 0;
}

.site-footer p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.site-footer img {
  height: 0.9rem;
}

.heart {
  font-size: 1.4rem;
  color: #f42;
}

nav,
section {
  display: block;
  clear: both;
}

.latest-news {
  margin: 0 auto;
  padding: 1rem;
  max-width: 115rem;
}

@media screen and (max-width: 1024px) {
  .grid-4-3-1 {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 786px) {
  .grid-4-3-1 {
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr;
  }

  .latest-image-wrapper {
    width: 72px;
    height: 72px;
    float: left;
    margin-right: 2rem;
  }

  .latest-story img {
    left: 50%;
    margin-left: -50%;
    height: 100%;
    width: auto;
  }
}

section {
  display: block;
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

.u-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: -8px;
}

[class*=" u-col-"],
[class^=u-col-] {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
}

.u-col-xs-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .u-row {
    margin: -10px;
  }

  [class*=u-col-] {
    padding: 10px;
  }

  .u-col-m-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1024px) {
  .u-row {
    margin: -12px;
  }

  [class*=u-col-] {
    padding: 12px;
  }

  .u-col-l-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
}

.latest {
  margin-bottom: 2em;
  padding-top: 24px;
}

h2 {
  font-family: Avalon, sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
  font-weight: 700;
  line-height: 1.1;
}

.latest h2 {
  margin-bottom: 24px;
  color: #f42;
}

.deals-header h2 a:hover::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
}

.latest h2 a::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.latest h2 a:hover::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
}

@media (min-width: 768px) {
  .latest {
    margin-bottom: 3em;
  }
}

@media (min-width: 1024px) {
  .latest {
    margin-bottom: 4em;
  }
}

.lazy {
  transition: 0.4s ease;
  opacity: 0;
  will-change: opacity;
}

.lazy.lazyLoaded {
  opacity: 1;
}

.story-image {
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

.story-byline {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
}

.story-byline::after {
  clear: both;
  content: "";
  display: block;
}

.story-byline li {
  display: block;
  float: left;
}

.story-byline li::after {
  content: "\B7";
  display: block;
  float: right;
  margin: 0 4px;
}

.story-byline li:last-child::after {
  display: none;
}

@media (max-width: 767px) {
  .story--smallMobile {
    min-height: 72px;
    padding-left: 88px;
    position: relative;
  }

  .story--smallMobile .story-image {
    left: 0;
    padding-top: 75px;
    position: absolute;
    top: 0;
    width: 75px;
  }

  .story--smallMobile .story-title {
    font-size: 14px !important;
    font-weight: 700;
    line-height: 18px !important;
  }

  .story--smallMobile .story-byline {
    line-height: 18px !important;
  }
}

@media (min-width: 1024px) {
  .story .story-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .story .story-byline {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .u-row {
    margin: -10px;
  }

  [class*=u-col-] {
    padding: 10px;
  }

  .u-col-m-4 {
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1024px) {
  .u-row {
    margin: -12px;
  }

  [class*=u-col-] {
    padding: 12px;
  }

  .u-col-l-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
}

.deals-header {
  margin-bottom: 24px;
  color: #f24;
}

.deals-header::after {
  clear: both;
  content: "";
  display: block;
}

.deals-header h2 {
  float: left;
  line-height: 32px;
}

.deals-header h2 a::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.deals-header-more {
  float: right;
  line-height: 18px;
  margin-top: 11px;
}

.deals-header-more::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  display: none;
  pointer-events: none;
  position: absolute;
}

.deals-header-more:hover::after {
  color: #f42;
}

@media (min-width: 768px) {
  .deals {
    margin-bottom: 3em;
  }

  .deals-header-more {
    font-size: 16px;
    margin-top: 10px;
  }
}

.story-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 1px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.story--deal {
  position: relative;
}

.story--deal .story-dealDiscount {
  display: none;
}

.story--deal .story-dealPrice {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
  vertical-align: baseline;
}

.story--deal .story-dealPrice::after {
  clear: both;
  content: "";
  display: block;
}

.story--deal .story-dealPrice-old {
  text-decoration: line-through;
  margin-right: 4px;
}

.story--deal .story-dealPrice-new {
  color: #555;
  font-size: 14px;
}

@media (max-width: 767px) {
  .story--smallMobile {
    min-height: 72px;
    padding-left: 88px;
    position: relative;
  }

  .story--smallMobile .story-image {
    left: 0;
    padding-top: 75px;
    position: absolute;
    top: 0;
    width: 75px;
  }

  .story--smallMobile .story-title {
    font-size: 14px !important;
    font-weight: 700;
    line-height: 18px !important;
  }
}

@media (min-width: 768px) {
  .story--deal .story-image {
    background-position: 0 100%;
    padding-top: 74.5%;
  }

  .story--deal .story-dealDiscount {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    display: block;
    height: 80px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 10;
  }

  .story--deal .story-dealDiscount div {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 14px;
    font-weight: 700;
    left: 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .story .story-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .story--deal .story-dealPrice {
    line-height: 20px;
  }

  .story--deal .story-dealPrice-old {
    font-size: 13px;
  }

  .story--deal .story-dealPrice-new {
    font-size: 16px;
  }
}
